@model JobAddViewModel
<div class="modal-header">
    <h5 class="modal-title">Add/Remove Job</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <form id="formAddJob" autocomplete="off">
        <div class="row">
            <div id="saveAlertAddJob" class="alert alert-danger col-md-10 offset-md-1 text-center" style="display:none;">
                <div asp-validation-summary="All"></div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#addJob">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#removeJob">Remove</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active fade show" id="addJob">
                <div class="row mt-3 mb-2">
                    <label class="col-2 col-form-label">Client</label>
                    <div class="col-8"><select asp-for="SelectedClientId" asp-items="Model.Clients" class="form-select"></select></div>
                </div>
                <div class="row mb-2">
                    <label class="col-2 col-form-label">Project</label>
                    <div class="col-8"><select asp-for="SelectedProjectId" asp-items="Model.Projects" class="form-select"></select></div>
                </div>
                <div class="row mb-2">
                    <label class="col-2 col-form-label">Bill Type</label>
                    <div class="col-8"><select asp-for="SelectedBillTypeId" asp-items="Model.BillTypes" class="form-select"></select></div>
                    <div class="col-1 ml-auto text-right">
                        <button id="btnSaveJob" class="btn btn-default fa fa-2x fa-check" type="button" title="Save"></button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="removeJob">
                <div class="row mt-3">
                    <label class="col-2 col-form-label">Job</label>
                    <div class="col-8"><select asp-for="SelectedJobId" asp-items="Model.Jobs" class="form-select"></select></div>
                    <div class="col-2 ml-auto text-right">
                        <button id="btnRemoveJob" class="btn btn-primary" type="button" title="Remove" disabled>Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
